@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #081b29;
  font-family: 'Lato', sans-serif;
}

/* Página Carrinho */

body > main {
  background: #081b29;
  padding: 0 20px 20px;
}

body > main .page-title {
  font-size: 30px;
  padding: 50px 0;
  text-align: margin-left;
}

body > main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > main .content section {
  -webkit-box-flex: 2;
      -ms-flex: 1;
          flex: 1;
}

body > main .content aside {
  min-width: 300px;
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 3px solid #eee;
}

table thead tr th {
  text-align: left;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #ededed;
  font-size: 20px;
}

/*linha branca*/

table tbody tr {
  border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0 ;
}

/* Produtos  */

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product img {
  border-radius: 12px;
}

.product .info {
  margin-left: 20px;
}

.product .info .name {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ccc;
  font-family: "Poppins", Arial, sans-serif;
}

.product .info .category {
  color: #000000;
  font-family: "Poppins", Arial, sans-serif;
}

/* Efeito zoom  */
.product:hover .category{
  scale:0.93;
}

/* Quantidade */

.qty {
  background: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 90px;
  border-radius: 40px;
  overflow: hidden;
  height: 50px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 60px;
  height: 100%;
}


/* Valores */

.value {
  background: #eee;
  color: #000000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  border-radius: 40px;
  overflow: hidden;
  height: 50px;
}

.value span {
  margin: 0 3px;
}

/* Remover */

.remove {
  background: #eee;
  border: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}


/*# remover */

.remove:hover {
  background: #ddd;
  scale: 0.95;
}

.remove img {
  border-radius: 50px;
}

/* Finalizar compra */

aside {
  margin-top: 40px;
  margin-left: 30px;
}

/*# resumo da compra */

aside .box {
  margin-bottom: 15px;
  border: 2px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 20px 20px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
}

aside .box .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

aside .box .info > div:last-child {
  margin: 0;
}

aside .box .info button {
  color: #28a745;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside > button {
  border: 0;
  padding: 15px 0;
  color: white;
  background: #28a745;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside > button:hover {
  background: #3bc55b;
}

.finalizar{
  color: #ededed;
  text-decoration: none;
}

